/*style navbar to be full view width
teal background color with white text*/
.navBar {
    width: 100vw;
    background-color: rgb(6, 142, 154);
    color: white;
    font-size: 24px;
    padding: 5px;
}

/*justify nav list content to the right*/
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: right;
}

/*remove any bullet points*/
nav ul li {
    list-style-type: none;
    margin-right:1em;
}

/*make navbar content darker on hover*/
nav ul li:hover {
    color: rgb(0, 0, 0, 0.705);
}

/*center login form content and give it a teal border*/
.LoginForm {
    flex-direction: column;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    border-color:rgb(6, 142, 154);
    background-color: #EEEEEE;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 1em;
}